<div class="cover__container">
    <div class="cover__text">
        <h1 class="page-title">Ivo Pabón</h1>
        <p class="regular-paragraph">Descubre cómo mejorar tus relaciones personales y profesionales con terapia
            psicológica familiar, de pareja, corporativa e institucional</p>
        <div class="main__btn-container">
            <button class="main__btn-container__btn-reserve" href="#contact">Reserva tu cita</button>
        </div>
    </div>

    <div class="main__slider">

        <input type="radio" name="image-slide" id="1" hidden class="main__slider__image-slide">
        <input type="radio" name="image-slide" id="2" hidden class="main__slider__image-slide">
        <input type="radio" name="image-slide" id="3" hidden class="main__slider__image-slide">
        <input type="radio" name="image-slide" id="4" hidden class="main__slider__image-slide">

        <div class="main__slider__container">

            <div class="main__slider__slide">
                <img src="/img/slider-1.jpg" alt="Terapia de familia madre e hija" class="main__slider__image1">
            </div>
            <div class="main__slider__slide">
                <img src="/img/slider-2.jpg" alt="Terapia de pareja" class="main__slider__image2">
            </div>
            <div class="main__slider__slide">
                <img src="/img/slider-3.jpg" alt="Terapia Corporativa" class="main__slider__image3">
            </div>
            <div class="main__slider__slide">
                <img src="/img/slider-4.jpg" alt="Terapia de familia con niños" class="main__slider__image4">
            </div>

        </div>

        <div class="main__slider__pagination">

            <label for="1" class="main__slider__pagination-item">
                <img src="/img/slider-1.jpg" alt="Terapia de familia " class="main__slider__image">
            </label>
            <label for="2" class="main__slider__pagination-item">
                <img src="/img/slider-2.jpg" alt="Terapia de pareja" class="main__slider__image">
            </label>
            <label for="3" class="main__slider__pagination-item">
                <img src="/img/slider-3.jpg" alt="Terapia Corporativa" class="main__slider__image">
            </label>
            <label for="4" class="main__slider__pagination-item">
                <img src="/img/slider-4.jpg" alt="Terapia de familia con niños" class="main__slider__image">
            </label>

        </div>

    </div>
</div>

<section class="section section-profile">
    <img class="main__image--profile" src="/img/ivo-profile.png" alt="Ivo Pabón">
    <h2 class="section__title">¿Quién soy?</h2>
    <p class="strong-paragraph"><strong>Consultor, pedagogo y conferencista, especialista en terapia de pareja y
            familia, en procesos de readaptación y prevención social y en el manejo de grupos.</strong></p>
    <p class="regular-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aperiam, veritatis
        praesentium deserunt itaque, possimus explicabo doloribus molestiae saepe et placeat recusandae vel cupiditate
        minus ab at cum eaque sit!</p>
    <div class="experiences__container">
        <ul class="experiences__list">
            <li class="experiences__item">Más de 20 años como psicólogo terapeuta</li>
            <li class="experiences__item">Docente de "Lectura y Pensamiento Crítico" de la I.E.D. Liceo Celedón</li>
            <li class="experiences__item">Director U.E.P. Nuestra Señora del Sagrado Corazón</li>
            <li class="experiences__item">Secretario de la Asociación Venezolana de Educación Católica (AVEC)</li>
            <li class="experiences__item">Director U.E.P. Arquidiocesana Monseñor Olegario Villalobos</li>
            <li class="experiences__item">Profesor de UNIR-Centro. Maracaibo, Estado Zulia</li>
            <li class="experiences__item">Profesor de Psicología Educativa, Filosodía de la Educación.</li>
            <li class="experiences__item">Profesor de Lengua y Literatura Colegio Santa María Goretti. Maracaibo, Estado
                Zulia.</li>
            <li class="experiences__item">Coordinador General de Pastoral Colegio Santa Mariana de Jesús. Maracaibo, Estado
                Zulia.</li>
            <li class="experiences__item">Coordinador del Departamento de Asistencia Estudiantil UE. Ramón León Ávila.
                Maracaibo, Estado Zulia.</li>
        </ul>
        <div class="main__btn-container">
            <button class="main__btn-container__btn-reserve" href="#contact">Reserva tu cita</button>
        </div>
    </div>
</section>

<section class="section services">
    <h2 class="section__title">Servicios</h2>
    <p class="strong-paragraph">¿Cuáles son?</p>
    <p class="regular-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aperiam, veritatis
        praesentium deserunt itaque, possimus explicabo doloribus molestiae saepe et placeat recusandae vel cupiditate
        minus ab at cum eaque sit!</p>
    <div class="service">
        <div class="service__image-container">
            <img src="/img/terapia-pareja.png" alt="Terapia de pareja" class="service__image1">
        </div>
        <h3 class="service-title">Terapia de pareja</h3>
        <p class="regular-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti et fugiat quasi,
            impedit accusamus perspiciatis ea rem consequuntur, dolores commodi similique. Consectetur sit quae nulla
            odio possimus perspiciatis, eos explicabo!</p>
    </div>
    <div class="service">
        <div class="service__image-container">
            <img src="/img/terapia-familia.png" alt="Terapia de familia" class="service__image2">
        </div>
        <h3 class="service-title">Terapia psicológica familiar</h3>
        <p class="regular-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti et fugiat quasi,
            impedit accusamus perspiciatis ea rem consequuntur, dolores commodi similique. Consectetur sit quae nulla
            odio possimus perspiciatis, eos explicabo!</p>
    </div>
    <div class="service">
        <div class="service__image-container">
            <img src="/img/terapia-institucional.png" alt="Terapia de institucional" class="service__image3">
        </div>
        <h3 class="service-title">Terapia corporativa e institucional</h3>
        <p class="regular-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti et fugiat quasi,
            impedit accusamus perspiciatis ea rem consequuntur, dolores commodi similique. Consectetur sit quae nulla
            odio possimus perspiciatis, eos explicabo!</p>
    </div>
    <div class="main__btn-container">
        <button class="main__btn-container__btn-reserve" href="#contact">Reserva tu cita</button>
    </div>
</section>


<section class="section values">
    <h2 class="section__title">Mis valores</h2>
    <p class="strong-paragraph"><strong>Lo que me caracteriza</strong></p>
    <p class="regular-paragraph">
    <ul>
        <li class="regular-paragraph">Empatía, para ponerme en tu lugar</li>
        <li class="regular-paragraph">Escucha activa, para entender tus problemas</li>
        <li class="regular-paragraph">Respeto, para no juzgar ni criticar</li>
        <li class="regular-paragraph">Ética profesional, para cumplir con los principios de mi profesión</li>
        <li class="regular-paragraph">Comunicación efectiva, para transmitir mi mensaje de manera clara y comprensible</li>
        <li class="regular-paragraph">Paciencia, ya que el proceso de terapia puede ser largo y con obstáculos</li>
        <li class="regular-paragraph">Creatividad, para encontrar soluciones innovadoras a tus problemas</li>
        <li class="regular-paragraph">Enfoque integral en cada caso</li>
        <li class="regular-paragraph">Compromiso con brindar el mejor apoyo a los pacientes.</li>
        <li class="regular-paragraph">Integridad ante la confidencialidad</li>
        <li class="regular-paragraph">Humildad para siempre seguir aprendiendo</li>
    </ul>
    </p>
</section>

<section class="section testimonials">
    <div class="slider">
        <div class="slider__arrow_prev"><img class="arrow" src="/img/arrow-left.png" alt="Arrow left"></div>
        <div class="slider-container">
            <div class="slider__item slider-hidden" id="testimonio-1">
                <img class="slider__item-img" src="/img/pacient-ana-vargas.jpg" alt="Ana Vargas">
                <p class="regular-paragraph">"La terapia con Ivo ha sido una de las mejores decisiones que he
                    tomado. Con su apoyo pude entender y aceptar mis emociones y ha mejorado significativamente mi
                    calidad de vida."</p>
                <p class="regular-paragraph">Ana Vargas</p>
            </div>
            <div class="slider__item slider-hidden" id="testimonio-2">
                <img class="slider__item-img" src="/img/pacient-victor-jimenez.jpg" alt="Víctor Jiménez">
                <p class="regular-paragraph">"Tuve que vivir situaciones muy duras por culpa del conflicto armado.
                    Con la ayuda de Ivo he logrado superar muchos de esos traumas, es muy profesional en su
                    trabajo. Estoy muy agradecido con él."</p>
                <p class="regular-paragraph">Victor Jiménez</p>
            </div>
            <div class="slider__item slider-hidden" id="testimonio-3">
                <img class="slider__item-img" src="/img/pacient-miguel-sepulveda.jpg" alt="Miguel Sepúlveda">
                <p class="regular-paragraph">"Ivo es un psicólogo excepcional. Me ha ayudado a superar mis
                    problemas de ansiedad y me enseñó herramientas para manejar mejor mi estrés."</p>
                <p class="regular-paragraph">Miguel Sepúlveda</p>
            </div>
        </div>
        <div class="slider__arrow_next"><img class="arrow" src="/img/arrow-right.png" alt="Arrow right"></div>
    </div>
</section>
</div>

</div>

  