/* Style for the buttons */
.main-header__btn-container__btn-reserve {
    background-color: #f23465;
    width: 200px;
    border: solid #fff 2px;
    padding: 10px;
    border-radius: 25px;
    color: #fff;
    letter-spacing: 2px;
    display: none;
    cursor: pointer;
  }