/* Styles for post */
.post__cover-container {
    background-color: #1e2e3c;
    width: 100%;
    border-radius: 6px;
    padding: 1em;
    min-width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .post__author,
  .post__date {
    margin: 2em 0;
    font-weight: 700;
  }

  .post__image {
    margin-top: 0 auto;
    max-width: 100%;
    border-radius: 6px;
    display: block;
  }