/* Us styles */
.us {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0 auto;
    max-width: 70%;
  }
  
  .us-image {
    width: 100%;
    background-color: #ffffff;
    max-width: 500px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.42);
  }
  
  .us__image-container {
    margin: 1em auto;
  }